@page "/gallery"
@using CatBoyFinder.Data
@using CatBoyCommon.Models
@using CatBoyCommon

<PageTitle>Gallery</PageTitle>

@if (details == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <MudGrid Spacing="2" Justify="Justify.Center">
        @foreach (var detail in details)
                {
                    <MudItem>
                        <MudPaper Elevation="0" Class="pa-4">
                                <a href="@detail.FileUrl"><img src="@detail.PreviewUrl" style="height:100%; width:100%;"></a>
                        </MudPaper>
                    </MudItem>
                }
    </MudGrid>
}

@code {
    private PostDetails[]? details;

    protected override async Task OnInitializedAsync()
    {
        details = CatBoyContext.instance.PostDetails.GetAll().ToArray();
    }
}
